/.tools/
/build/
/nbproject/
/Sample/Cache/
/Sample/Logs/
/Tests/coverage-report/
/Tests/report/
/Tests/.phpunit.cache/
/Tests/.phpunit.result.cache
/TestsApplication/Cache/
/TestsApplication/Logs/
/vendor/
.scannerwork/
