<?xml version="1.0"?>
<!--
The MIT License

Copyright 2022 Valentino de Lapa.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="Tests/bootstrap.php" colors="true" cacheResult="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false" failOnWarning="true" displayDetailsOnAllIssues="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./Tests/Console</directory>
            <directory suffix="Test.php">./Tests/Core</directory>
            <directory suffix="Test.php">./Tests/Orm</directory>
            <directory suffix="Test.php">./Tests/Security</directory>
        </testsuite>
    </testsuites>
    <coverage pathCoverage="false" ignoreDeprecatedCodeUnits="true" disableCodeCoverageIgnore="true">
        <report>
            <clover outputFile="Tests/coverage-report/clover.xml"/>
            <cobertura outputFile="Tests/coverage-report/cobertura.xml"/>
            <crap4j outputFile="Tests/coverage-report/crap4j.xml" threshold="50"/>
            <html outputDirectory="Tests/coverage-report/html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="Tests/coverage-report/coverage.php"/>
            <text outputFile="Tests/coverage-report/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <xml outputDirectory="Tests/coverage-report/xml-coverage"/>
        </report>
    </coverage>
    <php>
        <server name="HTTP_USER_AGENT" value=""/>
        <server name="HTTP_HOST" value="localhost"/>
        <server name="QUERY_STRING" value=""/>
        <server name="REMOTE_ADDR" value=""/>
        <server name="REQUEST_METHOD" value="POST"/>
        <server name="REQUEST_URI" value="/"/>
        <server name="SERVER_PROTOCOL" value=""/>
    </php>
    <source>
        <include>
            <directory suffix=".php">./Autoload</directory>
            <directory suffix=".php">./Console</directory>
            <directory suffix=".php">./Core</directory>
            <directory suffix=".php">./Orm</directory>
            <directory suffix=".php">./Security</directory>
        </include>
    </source>
</phpunit>
