/* card */
.card{margin: 20px 10px;; padding: 0px; flex-direction: column; box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);}
.card-image{margin: 0px; padding: 0px; position: relative;}
.card-content{padding: 10px; flex-direction: column;}
.card-content > .media{flex-direction: row; justify-content: space-between; align-items: center;}
.media > .media-left{}
.media > .media-content{margin: 0px 0px 0px 10px; flex-direction: column; flex-grow: 2; justify-content: center;}
.card-content > .content{margin: 10px 0px 0px 0px; display: flex; flex-direction: column;}

/* navbar */
.navbar{height: 50px; position: relative; list-style: none; font-size: 20px; z-index:100;}
.navbar-brand{position: relative;}
.navbar-menu{position: relative;flex-grow: 2; justify-content: space-between}
.navbar-menu .navbar-start{margin: 5px; padding: 0px; position: relative; display: flex; flex-grow: 2;}
.navbar-menu .navbar-end{position: relative;}
.navbar-item{margin: 0px 8px; padding: 7px 16px; position: relative;}
.navbar-link{position: relative; text-decoration: none; white-space: nowrap;}
.navbar-dropdown{margin: 0px; padding: 0px; position: absolute; display: none; font-size: 16px;}
.navbar-item:hover > .navbar-dropdown{background-color: white; display: flex; flex-direction: column;}
.navbar-dropdown .navbar-dropdown{top: 0px; left: 100%;}

/* menu */
.menu{position: relative; list-style: none; display: flex; flex-direction: column; margin: 0px;}
.menu-item{min-height: 40px; position: relative; display: flex; flex-direction: column; align-items: stretch;}
.menu-link, .menu-label{min-height: 30px; padding: 5px 10px; border-bottom: 1px solid #f4f4f4; flex-direction: row; align-items: center; vertical-align: middle; font-weight: 600; color: #f4f4f4;}
.menu-label:hover{color: #636363;}
.menu-dropdown .menu-link {border-bottom: 1px solid #00d1b1; font-weight: normal; color: #353535;}
.menu-dropdown{height: 0px; max-height: 0px; margin: 0px; padding: 0px; position: relative; display: flex; overflow: hidden; transition: max-height 2s ease-out;}
.menu-item input{display: none;}
.menu-item input:checked ~ .menu-dropdown{height: auto; max-height: 500px; background-color: white; display: flex; flex-direction: column;}

/* page */
.page, .page div{display: block}

/* upload drop area */
.upload-drop-area{border: 4px dashed black; padding: 60px 20px; box-sizing: border-box; opacity: 0.5; text-align: center;}
.upload-drop-area:hover, .upload-drop-area.dragging, .upload-drop-area.uploading {opacity: 1;}
.upload-drop-area input {display: none; cursor: pointer;}
.upload-drop-area input:focus {outline: none;}

/* debug bar */
.debug-bar{bottom: 0px; width: 100%; position: fixed; display: flex; flex-direction: column;}
.debug-bar-header, .debug-bar-header-left{display: flex; flex-direction: row;}
.debug-bar-header{padding: 2px 10px; justify-content: space-between; background-color: #dbdbdb;}
.debug-bar-header-left{justify-content: flex-start;}
.debug-bar-header-left > label, .debug-bar-header > div{margin: 0px 5px;}
.debug-bar-header-left > div{cursor: pointer}
.debug-bar-header-right > div{margin: 0px 1px;}
.debug-bar-header-left > label{padding: 2px 0px;}
.debug-bar-header-left > div, .debug-bar-header-right > div{padding: 2px 5px; background-color: #f4f4f4; border-radius: 3px;}
.debug-bar-header-left > label:last-of-type{}
.debug-bar-body{height: 200px; display: none; flex-direction: column; background-color: white; overflow-y: scroll}
.debug-bar-body > div{padding: 2px 10px;}
.debug-bar-body > div:nth-of-type(even){background-color: #f4f4f4}
