/* columns */
.columns{padding: 10px; flex-direction: row;}
.column{}

.column.is-full{width: 100%;}
.column.is-four-fifths{width: 80%;}
.column.is-three-quarters{width: 75%;}
.column.is-two-thirds{width: 66.6666%;}
.column.is-three-fifths{width: 60%;}
.column.is-half{width: 50%;}
.column.is-two-fifths{width: 40%;}
.column.is-one-third{width: 33.3333%;}
.column.is-one-quarter{width: 25%;}
.column.is-one-fifth{width: 20%}

.column.is-1{width: 8.3333%;}
.column.is-2{width: 16.6667%;}
.column.is-3{width: 25%;}
.column.is-4{width: 33.3333%;}
.column.is-5{width: 41.6667%;}
.column.is-6{width: 50%;}
.column.is-7{width: 58.3333%;}
.column.is-8{width: 66.6667%;}
.column.is-9{width: 75%;}
.column.is-10{width: 83.3333%;}
.column.is-11{width: 91.6667%;}
.column.is-12{width: 100%;}

.column.is-offset-full{margin-left: 100%;}
.column.is-offset-four-fifths{margin-left: 80%;}
.column.is-offset-three-quarters{margin-left: 75%;}
.column.is-offset-two-thirds{margin-left: 66.6666%;}
.column.is-offset-three-fifths{margin-left: 60%;}
.column.is-offset-half{margin-left: 50%;}
.column.is-offset-two-fifths{margin-left: 40%;}
.column.is-offset-one-third{margin-left: 33.3333%;}
.column.is-offset-one-quarter{margin-left: 25%;}
.column.is-offset-one-fifth{margin-left: 20%}

.column.is-offset-1{margin-left: 8.3333%;}
.column.is-offset-2{margin-left: 16.6667%;}
.column.is-offset-3{margin-left: 25%;}
.column.is-offset-4{margin-left: 33.3333%;}
.column.is-offset-5{margin-left: 41.6667%;}
.column.is-offset-6{margin-left: 50%;}
.column.is-offset-7{margin-left: 58.3333%;}
.column.is-offset-8{margin-left: 66.6667%;}
.column.is-offset-9{margin-left: 75%;}
.column.is-offset-10{margin-left: 83.3333%;}
.column.is-offset-11{margin-left: 91.6667%;}
.column.is-offset-12{margin-left: 100%;}

/* hero */
.hero{padding: 50px;}
.hero-head{}
.hero-body{}

/* container */
.container{padding: 10px; flex-direction: column;}

/* footer */
.footer{padding: 50px;}

/* grid */
