<div class="debug-bar">
    <div class="debug-bar-header">
        <div class="debug-bar-header-left">
            <label>Database</label><div class="debug-information-label" id="debug-information-database">{{queryExecutedNumber}}</div>
            <label>Log</label><div class="debug-information-label" id="debug-information-log">{{logRowNumber}}</div>
            <label>Form</label><div class="debug-information-label" id="debug-information-form">{{formFilterNumber}}</div>
        </div>
        <div class="debug-bar-header-right">
            <div>{{memoryUsed}} MB</div>
            <div>{{executionTime}} ms</div>
        </div>
    </div>
    <div class="debug-bar-body" id="debug-body-database">
        <pre>{{debugBarQuery}}</pre>
    </div>
    <div class="debug-bar-body" id="debug-body-log">
        <pre>{{debugBarLog}}</pre>
    </div>
    <div class="debug-bar-body" id="debug-body-form">
        <pre>{{debugBarForm}}</pre>
    </div>
</div>